html, 
body {
	height: 100%;
	font-family: 'Red Hat Display';
}

.container1{
	height: 20%;
	padding-top: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
}


.container{
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: -80px;
}

a {
	text-decoration: none;
	border-bottom: 2px solid #ffa502;
	color: black;
}

form {
	text-align: center;
	align-items: center;
	padding: 0px;
}

.submit {
	background-color: #ffa502;
	width: 150px;
	padding: 5px;
	border-radius: 5px;
	font-family: 'Red Hat Display'
	font-size: 1.5rem;
	margin-bottom: 30px;
}

.birthdate {
	font-family: 'Red Hat Display';
	border-radius: 5px;
}

@media screen and (max-width: 600px) {
	
	h1 {
		font-size: 1.35rem;
	}
}

@media screen and (max-width: 400px) {
	
	h1 {
		font-size: 1.15rem;
	}

	.chinese {
		font-size: 0.85rem;
	}

	.submit {
		margin-bottom: 60px;
	}
}